include requirements.txt
include requirements-test.txt
include AUTHORS.rst
include CHANGELOG.md
include README.md

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

recursive-include ipfx *.json *.txt *.md *.csv
