h5py>=2.3.1
matplotlib>=1.4.3
numpy>=1.12.1
pandas>=0.17.0
scipy>=0.15.1
simplejson>=3.10.0
pillow
argschema
allensdk
dictdiffer
pyabf<2.3.0
git+https://github.com/neurodatawithoutborders/pynwb@enh/update_schema
six
watchdog
pg8000
