argschema<2.0.0
allensdk
dictdiffer
h5py>=2.10.0
marshmallow==3.0.0rc6
matplotlib>=1.4.3
numpy>=1.15.4,<1.19.0
pandas>=0.25.1,<=0.25.3
pg8000
pillow
pyabf<2.3.0
pynwb>=1.3.1,<2.0.0
pyYAML<6.0.0
scipy>=0.15.1
simplejson>=3.10.0
watchdog
