name: ci/github-actions

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  run-light-tests:
    env:
      SKIP_LIMS: true
      TEST_INHOUSE: false
      ALLOW_TEST_DOWNLOADS: false
      TEST_API_ENDPOINT: "http://api.brain-map.org"
      IPFX_TEST_TIMEOUT: 60

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install system packages
        run: |
          sudo apt-get update
          sudo apt-get install -y hdf5-tools curl libhdf5-dev
      - name: Install pip dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        run: |
          pip install -r requirements-test.txt
          mkdir -p test-results
          git lfs install
          git config lfs.url 'https://github.com/AllenInstitute/ipfx.git/info/lfs'
          git lfs env
          git lfs pull
          pip install -e .
          python -m pytest --junitxml=test-results/junit.xml --verbose


  onprem-tests:
    name: on-prem tests
    runs-on: ["self-hosted"]
    strategy:
      matrix:
        pyver: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v4
      - name: Build docker image
        run: |
          docker build --build-arg PYTHON_VERSION="${{ matrix.pyver }}" -t "ipfx_${{ matrix.pyver }}:latest" docker
      - name: Run test in docker
        run: |
          DOCKER_IMAGE="ipfx_${{ matrix.pyver }}:latest" ./docker/run_tests_with_docker.sh
